/* You can add global styles to this file, and also import other style files */
:root {
    --background-default: #f4faff;
    --navbar-default: #08090a;
    --navbar-text-default: #fff;
    --text-default: #41474d;
    --footer-default: #a3b9cc;
    --button-default: #800600;
  }
  